html{
  background: url(../img/cover_banner@2x.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}
body{
  background: none;
}

.intro-text p {
  padding-top: 25%;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
